.form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  max-width: 250px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.button {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
